li {
    /* background-color: red; */
    padding: 5px 5px
}

.discuss {
    background: linear-gradient(95deg, #65CBF3 6.5%, #661CFC 48.41%, #9365FE 79.63%, #BEACFF 97.32%);
    box-shadow: 0px 4px 12px 0px rgba(101, 203, 243, 0.51);
    
    word-spacing: 2px;
}

/* .dropdown-menu:hover{
    background-color: white;

} 
.dropdown-menu > li:hover {
    background-color: aquamarine;
    
}
.dropdown-menu > li > a:hover {
    background-image: none;
    color: red;
} */



.success-grad {
    font-weight: 700;
    background: linear-gradient(271deg, #65CBF3 35.2%, #661CFC 76.69%, #9365FE 99.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


