li {
  /* background-color: red; */
  padding: 5px 5px
}

.discuss {
  background: linear-gradient(95deg, #65CBF3 6.5%, #661CFC 48.41%, #9365FE 79.63%, #BEACFF 97.32%);
  box-shadow: 0px 4px 12px 0px rgba(101, 203, 243, 0.51);

  word-spacing: 2px;
}

/* .dropdown-menu:hover{
    background-color: white;

} 
.dropdown-menu > li:hover {
    background-color: aquamarine;
    
}
.dropdown-menu > li > a:hover {
    background-image: none;
    color: red;
} */



.success-grad {
  font-weight: 700;
  background: linear-gradient(271deg, #65CBF3 35.2%, #661CFC 76.69%, #9365FE 99.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.explore {
  /* padding: 10px 200px; */
  border-radius: 15px;
}

.explore>a {
  text-decoration: none;
  color: #FFF;
  font-family: GD Sherpa;
  font-size: 20px;

  font-weight: 400;
}

.trust {
  font-size: 30px;
  font-weight: 500;
  word-spacing: 3px;
}

.trust-grad {
  background: linear-gradient(271deg, #65CBF3 10.37%, #661CFC 87.76%, #9365FE 94.73%, #BEACFF 98.2%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel {
  scroll-snap-type: x mandatory;
  scroll-padding: 0px 24px;
  display: flex;
  width: 550px;
  overflow-x: scroll;
}

.carousel .item {
  scroll-snap-align: start;
  padding: 0px 20px;
  list-style: none;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 40px 0;
  white-space: nowrap;
}

.logos:hover .logos-slide {
  animation-play-state: paused;

}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;

}

.logos-slide img {
  height: 50px;
  margin: 0 30px;
  filter: grayscale(100%);
  opacity: 0.65;
  transition: 0.5s all;

}

.logos-slide img:hover {
  filter: grayscale(0);
  opacity: 1;
}



.empower {
  color: #545454;
  text-align: center;
  font-family: Kamerik 105 Cyrillic;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  
  /* 0px */
}

.emp-grad{
  background: linear-gradient(271deg, #65CBF3 9.37%, #661CFC 80.76%, #9365FE 99.73%, #BEACFF 0.2%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

